@page "/produto"
<style>
    .botaoCadastro{
        text-decoration: none;  
	    color: #f00; 
	    font-size: 100%;
    }
    .hover-botaoCadastro{
        color: white:
    }

    .link{
        color: white;
        text-decoration: none !important;  
    }
    .link:hover{
        color: white !important;
    }
    .hr{
        margin-top: 100px;
        margin-bottom: 100px;
    }
   .viewport-full {
    min-height: 100vh;
    }


</style>
<hr>
<div class="espviewport-full">
    <button class="btn btn-primary" type="blue">
        <NavLink class="link" href="/produto/cadastro">
            <span aria-hidden="true"></span> Cadastro Novo Produto
        </NavLink>
    </button>
</div>
<hr>