@page "/produto"
<style>
    .botaoCadastro{
        text-decoration: none;  
	    color: #f00; 
	    font-size: 100%;
    }
    .hover-botaoCadastro{
        color: white:
    }

    .link{
        color: white;
        text-decoration: none !important;  
    }
    .link:hover{
        color: white !important;
    }

</style>

<button class="btn btn-primary" type="blue">
    <NavLink class="link" href="/produto/cadastro">
        <span aria-hidden="true"></span> Cadastro Novo Produto
    </NavLink>
</button>