<footer class="page-footer font-small bg-dark pt-4">

    <div class="container text-center text-md-left">

        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold text-light">Contato</h5>
                <p class="text-light">(70) 7070-7070</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase font-weight-bold text-light">Formas de pagamento</h5>
                <img src="img/forma_pagamento.png" class="card-img-top">
            </div>
        </div>
    </div>
</footer