<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="img/logo.png" asp-append-version="true" style="width:60px;">
    </a>
    <form action="">
        <div class="bg-light  border-0 rounded shadow-sm">
            <div class="input-group">
                <input type="search" placeholder="Buscar Produto" aria-describedby="button-addon1"
                class="form-control border-0 bg-light">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                        class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>


    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item pl-2 pr-1 mx-1 py-3 my-n2">
            <h4><i class="fas fa-user text-white"></i></h4>
        </li>
        <li class="nav-item pl-2 pr-1 mx-1 py-3 my-n2">
            <h4> <i class="fas fa-shopping-cart text-white"></i></h4>
        </li>
    </ul>
</nav>